@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/*--------------------------------
RESET
---------------------------------*/
*{
    font-family: 'Oswald', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*--------------------------------
GLOBAL
---------------------------------*/


p{
    color: #767676;
    line-height:23px;
    font-family: 'Nunito', sans-serif;
}

.btn {
    color: #fff;
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: #daa37f;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
}

.btn--opacity {
    animation: opacity 3s;
}

.sect {
    padding: 130px 0;
}
.sect--brown{
    background-color: #1d140b;
}

.sect--grey{
    background-color: #ebebeb;
}

.sect--no-bottom{
    padding-bottom: 0;
}

.sect--white-text{
    color: #fff;
}
.col--inbl{
    display: inline-block;
    float: none;
}
.row--center{
    text-align: center;

}
.row--small {
    max-width: 960px;
    margin:0 auto;
}

.row--margin{
    margin-top: 65px;
}
/*--------------------------------
ANIOMATION
---------------------------------*/
@-webkit-keyframes banner-in {
    0% {
        background-color:rgba(0,0,0,1);
    }
    100% {
        background-color:rgba(0,0,0,0.5);
    }
}
@-moz-keyframes banner-in {
    0% {
        background-color:rgba(0,0,0,1);
    }
    100% {
        background-color:rgba(0,0,0,0.5);
    }
}
@-o-keyframes banner-in {
    0% {
        background-color:rgba(0,0,0,1);
    }
    100% {
        background-color:rgba(0,0,0,0.5);
    }
}
@keyframes banner-in {
    0% {
        background-color:rgba(0,0,0,1);
    }
    100% {
        background-color:rgba(0,0,0,0.5);
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/*--------------------------------
BANNER
---------------------------------*/
.banner{
    background-image: url('https://static.wixstatic.com/media/nsplsh_4d534e385446684a306973~mv2_d_5184_3456_s_4_2.jpg/v1/fill/w_1903,h_408,al_c,q_90/nsplsh_4d534e385446684a306973~mv2_d_5184_3456_s_4_2.webp');
    background-color:#000;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
    height: 100%;
    text-align:center;
    background-color: rgba(0,0,0,0.4);
    animation: banner-in 2s ;
}

.banner__container {
    display: table-cell;
    vertical-align: middle;
}

.banner__scroll-down {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -12px;
    cursor: pointer;
    animation: opacity 3s;
}

.banner__title {
    font-size: 56px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    animation: opacity 3s;
}

.banner__text {
    font-size: 14px;
    color: #fff;
    margin: 0;
    margin-bottom: 18px;
    animation: opacity 3s;
}

/*--------------------------------


/*--------------------------------
FOOTER
---------------------------------*/
.footer {
    display: table;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.footer__half {
    width: 50%;
    display: table-cell;
    padding: 100px 140px;
}

.footer__half-1 {
    background-image: url('https://image.ibb.co/mRGjDm/section_bg_7.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__half-2 {
    background-color: #000;
}

.footer__big-title {
    margin-top: 0;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #fff;
}

.footer__title {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    color: #daa37f;
}

.footer__desc {
    color: #d7d7d7;
    margin-bottom: 25px;
}

@media screen and (max-width:1024px){

    .banner__title {
        font-size: 54px;
    }

    .footer__half {
        padding: 90px 120px;
    }

    .footer{
        position:relative;
    }
}


@media screen and (max-width:991px){

    .banner__title {
        font-size: 50px;
    }

    .footer__half {
        padding: 60px 90px;
    }

}

@media screen and (max-width:767px){
    .banner__title {
        font-size: 48px;
    }

    .footer__half {
        width: 100%;
        display: block;
        padding: 50px 50px;
    }



}

@media screen and (max-width:480px){
    .banner__title {
        font-size: 44px;
    }

    .footer__half {
        padding: 35px 35px;
    }
    .footer__desc {
        margin-bottom: 10px;
    }

}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/