<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>header</title>
<!--  <link rel="stylesheet" href="/header.css">-->
</head>
<body>
<div class="header-bar" th:fragment="myheader" >
  <h1 class="logo">S</h1>
  <ul class="slider-menu">
    <li ><a href="/">Home</a></li>
    <li sec:authorize="isAuthenticated()"><a href="/feed">Feed</a></li>
    <li ><a href="/signup">Signup</a></li>
    <li  sec:authorize="!isAuthenticated()"><a href="/login">Log in</a></li>
    <li  sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
      <li sec:authorize="isAuthenticated()"><a href="/myprofile" sec:authentication="name">Username</a> </li>

  </ul>
</div>
</body>
</html>