<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/n5gUtm/icon_1.png"/>
    <meta name="theme-color" content="#daa37f">
    <title>Coffee House - Homepage</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="header.css">
    <div th:replace="header :: myheader"></div>

</head>

<body>

</div>
<div th:unless="${userName}" class="banner">
    <div class="banner__overlay">
        <div class="banner__container">
            <h1 class="banner__title">CODE FELLOWSHIP</h1>
            <p class="banner__text">Serving only the best since 2013</p>
            <a href="/signup" class="btn btn--opacity">Signup</a>
        </div>
    </div>
</div>

<div class="cards-list" th:each="user: ${users}" sec:authorize="isAuthenticated()">
    <div th:if="${user.username != userName}">
``
        <a th:href="@{/users/{id}(id=${user.getId()})}">
            <div class="card 1">
                <div class="card_image"><img src="https://image.flaticon.com/icons/png/512/21/21104.png"/></div>
                <form action="/follow" method="post" th:unless="${loggedUser.getFollowing().contains(user)}">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input  type="submit" value="Follow!">
                </form>
                <form th:action="@{/follow/{id}(id=${user.getId()})}" method="post" th:if="${loggedUser.getFollowing().contains(user)}">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input  type="submit" value="Unfollow!">
                </form>
                <div class="card_title title-white">
                    <p th:text="${user.username}"></p>
                </div>
            </div>
        </a>

    </div>
</div>

</div>


</body>